In [60]:
import numpy as np
import pandas as pd

# Creation of Data Frames

### Array -> DF

In [63]:
# creating an np array
data = np.array([['Banana',2], ['Grapes',10], ['Avocadoes',6], ['Peaches',0]])

In [64]:
# creating a data frame
df = pd.DataFrame(data, index=['basket_1', 'basket_2', 'basket_3', 'basket_4'], columns=['fruit', 'count'])

In [65]:
# displaying the data frame
df

              fruit count
basket_1     Banana     2
basket_2     Grapes    10
basket_3  Avocadoes     6
basket_4    Peaches     0

In [66]:
# creating an array
data = [['Banana',2], ['Grapes',10], ['Avocadoes',6], ['Peaches',0]]

In [67]:
# creating a data frame
df = pd.DataFrame(data, index=['basket_1', 'basket_2', 'basket_3', 'basket_4'], columns=['fruit', 'count'])

In [68]:
# displaying the data frame
df

              fruit  count
basket_1     Banana      2
basket_2     Grapes     10
basket_3  Avocadoes      6
basket_4    Peaches      0

### Dictionary -> DF

In [78]:
# lists used for key,value pairs
seasons = ['Spring', 'Summer', 'Autumn', 'Winter']
veggies = ['Lettuce', 'Tomatoes', 'Cabbage', 'Carrots']

In [80]:
# storing lists within a dictionary
salad = {'Seasons': seasons, 'Veggies': veggies}

In [90]:
# creating a data frame
df = pd.DataFrame(salad)
#df = pd.DataFrame.from_dict(salad)

In [92]:
df

  Seasons   Veggies
0  Spring   Lettuce
1  Summer  Tomatoes
2  Autumn   Cabbage
3  Winter   Carrots

### csv -> DF

In [95]:
# reading the csv
df_bestsellers = pd.read_csv('bestsellers with categories.csv')