In [1]:
import pandas as pd

In [2]:
# reads csv file
df = pd.read_csv('players_20.csv')
# set index
df.set_index('short_name', inplace=True)
# select column
df = df[['long_name', 'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club']]

In [79]:
# show dataframe
df.head(3)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain

## .loc[row_label, col_label]

### Select with a Single Value

In [68]:
# get all columns that correspond to the index 'L. Messi'
df.loc['L. Messi', :]

long_name      Lionel Andrés Messi Cuccittini
age                                        32
dob                                1987-06-24
height_cm                                 170
weight_kg                                  72
nationality                         Argentina
club                             FC Barcelona
Name: L. Messi, dtype: object

In [81]:
# get all rows inside the 'height_cm' column
df.loc[:, 'height_cm'].head(3)

short_name
L. Messi             170
Cristiano Ronaldo    187
Neymar Jr            175
Name: height_cm, dtype: int64

In [13]:
# get the height of L.Messi
df.loc['L. Messi', 'height_cm']

170

### Select with a List of Values

In [30]:
# get all data about L.Messi and Cristiano Ronaldo
df.loc[['L. Messi', 'Cristiano Ronaldo']]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus

In [32]:
# get the height of L.Messi and Cristiano Ronaldo
df.loc[['L. Messi', 'Cristiano Ronaldo'], ['height_cm']]

                   height_cm
short_name
L. Messi                 170
Cristiano Ronaldo        187

In [34]:
# get the height and weight of L.Messi
df.loc['L. Messi', ['height_cm', 'weight_kg']]

height_cm    170
weight_kg     72
Name: L. Messi, dtype: object

In [36]:
# get height and weight of L.Messi and Cristiano Ronaldo
df.loc[['L. Messi', 'Cristiano Ronaldo'], ['height_cm', 'weight_kg']]

                   height_cm  weight_kg
short_name
L. Messi                 170         72
Cristiano Ronaldo        187         83

### Select a Range of Data with a Slice

In [41]:
# slice column labels
players = ['L. Messi', 'Cristiano Ronaldo']
df.loc[players, 'age':'club']

,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,
L. Messi,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,34,1985-02-05,187,83,Portugal,Juventus

In [83]:
# get top1 and top10 player name
# df.index[:5]
id = df.index[:5]

df.loc[id, ['height_cm', 'nationality']]

                   height_cm nationality
short_name
L. Messi                 170   Argentina
Cristiano Ronaldo        187    Portugal
Neymar Jr                175      Brazil
J. Oblak                 188    Slovenia
E. Hazard                175     Belgium

### Select with Conditions

In [85]:
# one condition: select player with height above 180cm
df.loc[df['height_cm'] > 180, columns].head(3)

                   age         dob  height_cm  weight_kg
short_name
Cristiano Ronaldo   34  1985-02-05        187         83
J. Oblak            26  1993-01-07        188         87
K. De Bruyne        28  1991-06-28        181         70

In [87]:
# multiple conditions: select player with height above 180cm from Argentina
df.loc[(df['height_cm'] > 180) & (df['nationality'] == 'Argentina'), ['height_cm', 'nationality']].head(3)

            height_cm nationality
short_name
M. Icardi         181   Argentina
G. Higuaín        186   Argentina
E. Garay          189   Argentina

## iloc[row_position, column_position]

In [98]:
df.head(3)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain

In [94]:
# get the height of L.Messi
df.iloc[0,3]

170

In [102]:
# get all rows inside the 'height_cm column'
df.iloc[:,3].head(3)

short_name
L. Messi             170
Cristiano Ronaldo    187
Neymar Jr            175
Name: height_cm, dtype: int64

In [104]:
# get all columns that correspond to the index 'L. Messi'
df.iloc[0,:]

long_name      Lionel Andrés Messi Cuccittini
age                                        32
dob                                1987-06-24
height_cm                                 170
weight_kg                                  72
nationality                         Argentina
club                             FC Barcelona
Name: L. Messi, dtype: object

### Select with a List of Values

In [107]:
# get all data about L.Messi and Cristiano Ronaldo
df.iloc[[0,1]]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus

In [109]:
# get the height of L.Messi and Cristiano Ronaldo

In [111]:
df.iloc[[0,1], 3]

short_name
L. Messi             170
Cristiano Ronaldo    187
Name: height_cm, dtype: int64

In [113]:
# get the height and weight of L.Messi
df.iloc[0, [3,4]]

height_cm    170
weight_kg     72
Name: L. Messi, dtype: object

In [115]:
# get height and weight of L.Messi and Cristiano Ronaldo
df.iloc[[0,1], [3,4]]

                   height_cm  weight_kg
short_name
L. Messi                 170         72
Cristiano Ronaldo        187         83

### Select a Range of Data with a Slice

In [120]:
# slice column labels age/club
# players = ['L. Messi', 'Cristiano Ronaldo']
df.iloc[0:2, 1:7]

,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,
L. Messi,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,34,1985-02-05,187,83,Portugal,Juventus

In [137]:
##### slice index labels (top1 to top5 player)
# columns = ['age', 'dob', 'height_cm', 'weight_kg']

df.iloc[:5, :5]

,long_name,age,dob,height_cm,weight_kg
short_name,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68
J. Oblak,Jan Oblak,26,1993-01-07,188,87
E. Hazard,Eden Hazard,28,1991-01-07,175,74

### Select with Conditions

iloc cannot accept a boolean Series, but only a boolean list. We have to use the list() function to convert a Series into a boolean list.

In [149]:
# one condition: select player with height above 180cm
# columns = ['age', 'dob', 'height_cm', 'weight_kg']
players = list(df['height_cm'] > 180)
df.iloc[players, 1:5].head(3)

                   age         dob  height_cm  weight_kg
short_name
Cristiano Ronaldo   34  1985-02-05        187         83
J. Oblak            26  1993-01-07        188         87
K. De Bruyne        28  1991-06-28        181         70

In [159]:
# multiple conditions: select player with height above 180cm from Argentina
from_argentina_tall = list((df['nationality'] == 'Argentina') & (df['height_cm'] > 180))
df.iloc[from_argentina_tall, :].head(3)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
M. Icardi,Mauro Emanuel Icardi Rivero,26,1993-02-19,181,75,Argentina,Inter
G. Higuaín,Gonzalo Gerardo Higuaín,31,1987-12-10,186,89,Argentina,Juventus
E. Garay,Ezequiel Marcelo Garay,32,1986-10-10,189,90,Argentina,Valencia CF